.appContainer {
  text-align: center;
}

.mainHeader {
  margin-bottom: 30px;
}

.tableContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto;
}

.formContainer {
  background-color: light-grey;
  width: 200px;
  height: auto;
  text-align: left;
  margin: 20px 0;
}

.ticker {
  font-size: 1.5rem;
}

.buttonContainer {
  position: fixed;
}
