.appContainer {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.formContainer {
  background-color: light-grey;
  width: 200px;
  height: auto;
  text-align: left;
  margin: 20px 0;
}
